.text-box1 li {
  margin-bottom: 10px;
}

.text-box2 {
  padding: 20px;
}

.wrapper {
  padding: 0px 30px;
}

.showcase-link {
  margin-top: 45px;
  max-width: 300px;
}

.row-hr {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  border-top: 5px solid #eeeeee !important;
}

.image-logo {
  border-radius: 5px;
}

@media screen and (min-width: 601px) {
  .text-box1 {
    padding: 20px 10px 20px 10px
  }
}

@media screen and (max-width: 600px) {
  .text-box1 {
    padding: 5px;
  }
}
