.text-box1 {
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.text-box1 li {
  margin-bottom: 10px;
}

.wrapper {
  padding: 0px 30px;
}

.showcase-link {
  margin-top: 45px;
  max-width: 300px;
}

.row-hr {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  border-top: 5px solid #eeeeee !important;
}

.image-logo {
  border-radius: 5px;
}
