<div class="footer hidden-xs">
  <div>
    <a href="mailto:paanakker@qedwebdevelopment.com?subject=Request for information">
      <div class="info-header-foot">&#128231 eMail</div>
      <p class="info-header-foot-text">
      Paanakker@QEDWebDevelopment.com
      </p>
    </a>
  </div>
  <div>
    <div class="info-header-foot">&#9742 telephone</div>
    <p class="info-header-foot-text">+ 31 614405533</p>
  </div>
  <div>
    <a href="https://github.com/QEDWebDevelopoment">
      <div class="info-header-foot">
        <i class="fa fa-github"></i>
        GitHub
      </div>
      <p class="info-header-foot-text">
        https://github.com/QEDWebDevelopoment</a>
      </p>
    </a>
  </div>
  <div>
    <div class="info-header-foot">&#128239 Address</div>
    <p class="info-header-foot-text">Amstelkade<br>169-III, 1078AZ<br> Amsterdam <br>The Netherlands</p>
  </div>
</div>
<div class="footer-list hidden-sm hidden-md hidden-lg">
  <div>
    <a href="mailto:paanakker@qedwebdevelopment.com?subject=Request for information">
      <div class="info-header-foot">&#128231 eMail</div>
      <p class="info-header-foot-text">
      Paanakker@QEDWebDevelopment.com
      </p>
    </a>
  </div>
  <div>
    <div class="info-header-foot">&#9742 telephone</div>
    <p class="info-header-foot-text">+ 31 614405533</p>
  </div>
  <div>
    <a href="https://github.com/QEDWebDevelopoment">
      <div class="info-header-foot">
        <i class="fa fa-github"></i>
        GitHub
      </div>
      <p class="info-header-foot-text">
        https://github.com/QEDWebDevelopoment</a>
      </p>
    </a>
  </div>
  <div>
    <div class="info-header-foot">&#128239 Address</div>
    <p class="info-header-foot-text">Amstelkade<br>169-III, 1078AZ<br> Amsterdam <br>The Netherlands</p>
  </div>
</div>
