
<div class="text-box2">
  <h3>Contact</h3>
  <div class="info-header">&#128231 eMail</div>
  <p>
    <a href="mailto:paanakker@qedwebdevelopment.com?subject=Request for information"> Paanakker@QEDWebDevelopment.com</a>
  </p>
  <div class="info-header">&#9742 telephone</div>
  <p>+ 31(0)614405533</p>
  <div class="info-header">
    <i class="fa fa-github"></i>
    GitHub
  </div>
  <p>
    <a href="https://github.com/QEDWebDevelopoment">
    github.com/QEDWebDevelopment
  </a>
  </p>
  <div class="info-header">&#128239 Address</div>
  <p>Amstelkade 169-III<br>1078AZ Amsterdam<br>The Netherlands</p>
</div>
