<div class="text-box1">
  <h3>We take Web Development to a new level</h3>
  The main force on the QED team is IT veteran J. Alfons Paanakker. After a full career moving from Cobol programming, via PC-network engineering to ProjectManagement and general management positions in several IT Consultancy Companies he decided tot move back into the real business: Web Development.
</div>
