<div class="banner">
  <p class="info-header">
    QED WebDevelopment
  </p>
  <div class="home-page-header">
    Full Stack Web developement <br>
Ruby on Rails, HTML/CSS <br> JavaScript, SQL <br>
+ more .....
  </div>
</div>
<div class="container custom-container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="text-box1">
        <h3>We build your website or app fast and reliable.</h3>
        The Internet is changing constantly: our main goal is to keep track these chages and make the best use of most recent, but proven, technologies to build your dynamic website or app.
      </div>
      <div class="text-box1">
        Read more about our way of working and our products and services:<%= link_to "products", producten_path, class: "navbar-wagon-item navbar-wagon-link navbar-item" %>
        <br>
        or meet the team:
        <%= link_to "team", team_path, class: "navbar-wagon-item navbar-wagon-link navbar-item" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="text-box1">
        <h3>Know more?</h3>
        <div class="info-header">&#128231 eMail</div>
        <p>
          <a href="mailto:J.Alfons.Paanakker@qedwebdevelopment.com?subject=Request for information"> J.Alfons.Paanakker@QEDWebDevelopment.com</a>
        </p>
        <div class="info-header">&#9742 voice</div>
        <p>+ 31 614405533</p>
        <div class="info-header">
          <i class="fa fa-github"></i>
          GitHub
        </div>
        <p>
          <a href="https://github.com/QEDWebDevelopoment">https://github.com/QEDWebDevelopoment</a>
        </p>
        <div class="info-header">&#128239 postal services</div>
        <p>Amstelkade, suite 169-III, 1078AZ, Amsterdam, The Netherlands</p>
      </div>
    </div>
  </div>
</div>
