<div class="banner">
  <p class="info-header">
    QED WebDevelopment
  </p>
  <div class="home-page-header">
    Full Stack Web development <br>
Ruby on Rails, HTML/CSS <br> JavaScript, SQL <br>
+ meer .....
  </div>
</div>
<div class="container custom-container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="text-box1">
        <h3>Wij bouwen uw website en app met de nieuwste Internettechnieken</h3>
        De technologische ontwikkelingen op het internet volgen elkaar in een hoog tempo op. QED WebDevelopment volgt deze ontwikkelingen op de voet en bouwt of verbouwt uw website met behulp van deze technieken en zorgt er dus voor dat u optimaal gebruik maakt van de mogelijkheden van het WEB.
      </div>
      Lees meer over onze producten en diensten:<%= link_to "showcases", producten_path, class: "navbar-wagon-item navbar-wagon-link navbar-item" %>
      <br>
      en onze manier van werken: <%= link_to "werkwijze", nlteam_path, class: "navbar-wagon-item navbar-wagon-link navbar-item" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="text-box1">
        <h3>Meer weten?</h3>
        <div class="info-header">&#128231 eMail</div>
        <p>
          <a href="mailto:paanakker@qedwebdevelopment.com?subject=Request for information">J.Alfons.Paanakker@QEDWebDevelopment.com</a>
        </p>
        <div class="info-header">&#9742 telefoon</div>
        <p>+ 31 614405533</p>
        <div class="info-header">
          <i class="fa fa-github"></i>
          GitHub
        </div>
        <p>
          <a href="https://github.com/QEDWebDevelopoment">https://github.com/QEDWebDevelopoment</a>
        </p>
        <div class="info-header">&#128239 Adres</div>
        <p>Amstelkade, suite 169-III, 1078AZ, Amsterdam, The Netherlands</p>
      </div>
    </div>
  </div>
</div>
