.footer {
  margin-top: 25px;
  padding: 0px 40px 0px 35px;
  display: flex;
  justify-content: space-between;
}

.info-header-foot {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .18em;
  text-transform: uppercase;
  color: $new_blue;
}

.info-header-foot-text {
  font-size: 12px;
}

.footer-list {
  margin-top: 25px;
  margin-left: 35px;
}
